################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Week6.Server/bin/Debug/net8.0
/Week6.Server/obj
/week6.client/obj/Debug
